___

<a href='https://www.udemy.com/user/joseportilla/'><img src='https://github.com/alexnelja/Complete-Python-3-Bootcamp/blob/master/00-Python%20Object%20and%20Data%20Structure%20Basics/Pierian_Data_Logo.png?raw=1'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge.

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: integers and floats


```
*    a = 43
*    b = 3.14634
```



Strings: a series of characters aranged in an array
  with for string[] = "string"
*   `name = "string"`


Lists: enclosed in [ ]
*   ` kompanjie = ["juan", "schalk", "alex", "conrad"]`
* Mutable
*   You can change specific entries in a list

Tuples: enclosed in ( )
*   ` kompanjie = ("juan", "schalk", "alex", "conrad")`
* Immutable
*   Cannot Change the items in a tuple

Dictionaries: enclosed in { } and has key-value pairs

  `dict1 = { "name" : "Alex" , "surname" : "Nel" }`

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
5*20.05
100+0.25
105-4.75
401/4

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [4]:
4*(6+5)
4*6+5
4+6*5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br>

```
# float
```

<br>

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root: n ** .05

In [ ]:
# Square: n ** 2

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [5]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [9]:
s ='hello'
# Reverse the string using slicing
p =s[4] + s[3] + s[2] +s[1] + s[0]
print(p)

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [11]:
s ='hello'
# Print out the 'o'
s[4]
# Method 1:
print(s[4])

o

In [13]:
# Method 2:
print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [18]:
# Method 1:
ls = [0,0,0]

In [ ]:
# prompt: build list [0,0,0] in three different ways

# Method 2:
ls = []
ls.append(0)
ls.append(0)
ls.append(0)
# Method 3:
ls = [0] * 3

In [22]:
# Method 2:
ls = []
ls.append(0)
ls.append(0)
ls.append(0)

ls = [0]*3

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [24]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = "goodbye"

Sort the list below:

In [26]:
list4 = [5,3,4,6,1]
list4.sort()

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [28]:
d = {'simple_key':'hello'}
# Grab 'hello'
d["simple_key"]

'hello'

In [29]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [37]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [36]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2]

['hello']

Can you sort a dictionary? Why or why not?<br><br>

## Tuples

What is the major difference between tuples and lists?<br><br>

How do you create a tuple?<br><br>
Tuples are immutable and they have round brackets (), while lists have square brackets [ ]. and they are in mutable

## Sets

What is unique about a set?<br><br>
A set shows eveyr unique number or entry in a list

Use a set to find the unique values of the list below:

In [39]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set5 = set(list5)
print(set5)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [40]:
# Answer before running cell
2 > 3

False

In [41]:
# Answer before running cell
3 <= 2

False

In [42]:
# Answer before running cell
3 == 2.0

False

In [43]:
# Answer before running cell
3.0 == 3

True

In [44]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [45]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!